.site-frame {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 1rem 3rem;
}

.app-header {
  color: cornflowerblue;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  padding: 1rem;
 

}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  text-transform: capitalize;
}

sub {
  font-size: medium;
  text-align-last: justify;
}

.app-menu {
  margin: 0;
  padding: 0;
}

.app-content {
  flex-grow:2;
  height: 100%;
  margin: 1rem;
}