
.menu-wrapper {
  display: flex;
  gap: 1rem;
}

.menu-item {
  color: orange;
  cursor: pointer;
  font-weight: bolder;
  font-size: larger;

}

.menu-item:hover:after {
  content: 'CLICK IT';
  color: red;
}